/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# artificat of building on system
/lib/motor_city/libmotor_city.so
/lib/motor_city/libmotor_city.dylib
/lib/motor_city/libmotor_city.dll

# Added by cargo
/target
/Cargo.lock
